html {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 100%;
}

header, footer {
	background-color: rgba(0, 0, 0, 0.8);
	overflow: auto;
	width: 100%;
}

#stars, #stars2, #stars3 {
	margin-left: auto;
	margin-right: auto;
}

footer {
	position: absolute;
	bottom: 0;
	text-align: right;
}

h1 {
	color: rgba(0, 0, 0, 1);
	background-color: white;
	width: 25%;
	border: 2px solid white;
	border-radius: 10px;
	font-size: 30px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

section {
	width: 50%;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
	color: #ffffff;
	box-sizing: border-box;
}

.translations, .games {
	box-sizing: border-box;
	width: 49%;
	display: inline-block;
}

.translations h4, .games h4 {
	text-align: center;
}

.games {
	float: right;
}

ul {
	height: 50px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 auto;
}

ul li {
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	list-style: none;
	text-decoration: none;
}

#links li {
	float: right;
}

.icon {
	opacity: 0.5;
}

.icon:hover {
	opacity: 1;
}

.projects {
	height: auto;
}

p a {
	text-decoration: none;
	color: #abcdef;
}

p a:hover {
	text-decoration: underline;
}

footer {
	color: white;
}