html {
	background-image: url("../images/background.jpg");
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 100%;
}

header, footer {
	background-color: rgba(0,0,0,0.7);
	overflow: auto;
	width: 100%;
}
footer {
	position: absolute;
	bottom: 0;
	text-align: right;
}
h1 {
	color: rgba(0,0,0,1);
	background-color: white;
	width: 25%;
	border: 2px solid white;
	border-radius: 10px;
	font-size: 30px;
	text-align: center;
	margin-left: 5%;	
}
section {
	width: 48%;
	margin: 1%;
	padding: 10px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 5px;
	color: #ffffff;
	float: left;
	box-sizing: border-box;
}

ul {
	
	height: 50px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 auto;
}
ul li {
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	list-style: none;
	text-decoration: none;
}
#links li {
	float: left;
}
.icon {
	opacity: 0.5;

}
.icon:hover {
	opacity: 1;
}

.projects {
	height: auto;
}

.project  {
	min-height: 50px;
	width: 48%;
	float: left;
	margin: 0.5%;
	padding-left: 2px;
}

p a {
	text-decoration: none;
	color: #abcdef;
}
p a:hover{
	text-decoration: underline;
}

footer {
	color: white;
}


	